/* Stili di pagina GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
    background-color: lightgray;
}

/* Stili del logo */
.logo {
    height: 120px;
    background-color: white;
}

#logo_principale {
    width: 75px;
    margin: 25px 25px;
    vertical-align: middle;
    line-height: 60px;
}

#scritta_toboolist{
    font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 50px;
}

/* Primo contenitore con Add Task ed Add Section */
.primo_contenitore{
    background-color: white;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2px;
    margin-right: 20%;
    margin-left: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid gray;
}

#add_task{
    display: inline;
    color: white;
    background-color: aqua;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    outline: none;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
}

#add_section{
    display: inline;
    color: lightgray;
    background-color: white;
    border-radius: 5px;
    width: 85px;
    height: 25px;
    outline: none;
    border-color: lightgray;
}

/* Secondo contenitore */
.secondo_contenitore{
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    height: 650px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
}

.titoli_corpo{
    font-weight: 700;
    font-size: 30px;
    
}

/* Freccia per aprire il menu a tendina */
.arrow-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-bottom: 3px;
    margin-right: 5px;
}

/* Simbolo del verificato con del testo ed Editorial setup */
.verified::after{
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid green;
    width: 20px;
    height: 20px;
    content: "\2713";
    vertical-align: middle;
    line-height: 20px;
    color: green;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.testo{
    font-size: medium;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0;
}
.etichetta{
    display: inline;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    outline: none;
    border: none;
    margin-left: 5px;
    
}
.etichetta_editorial{
    
    background-color: aqua;
}
.margine_testo{
    margin-bottom: 20px;
}

/* Restante parte del main contenente le dovute modifiche in base al layout da replicare */
.etichetta_q1_goals{
    background-color: purple;
}
.etichetta_recruiting{
    background-color: green;
}
.unverified::after{
    content: "\2717";
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.etichetta_mobile{
    background-color: orange;
}
.etichetta_website{
    background-color: palevioletred;
}
.etichetta_sales{
    background-color: greenyellow;
}