/* Stili di pagina GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

/* Stili del logo */
.logo {
    height: 120px;
}

#logo_principale {
    width: 75px;
    margin: 25px 25px;
}

#scritta_toboolist{
    font-size: 70px;
    font-weight: 700;
    vertical-align: baseline;
    line-height: 35px;
}
