/* Stili di pagina GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

/* Stili del logo */
.logo {
    height: 120px;
    background-color: white;
}

#logo_principale {
    width: 75px;
    margin: 25px 25px;
    vertical-align: middle;
    line-height: 60px;
}

#scritta_toboolist{
    font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 50px;
}

/* Primo contenitore con Add Task ed Add Section */
.primo_contenitore{
    background-color: black;
    height: 50px;
    margin-top: 1%;
    margin-right: 20%;
    margin-left: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid gray;
}